main {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-areas: "back product change";
}

#back {
    grid-area: back;
    padding-top: 6rem;
    padding-left: 7rem;
}

#product {
    grid-area: product;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "pictures detail";
    padding-top: 4rem;
}

#pictures{
    grid-area: pictures;
    justify-self: right;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 31rem;
    padding-right: 2rem;
    gap: 1rem;
}

#pictures #main {
    grid-column: 1/5;
    width: 31rem;
    height: 31rem;
}

#pictures .additional {
    grid-row-start: 2;
    width: 7rem;
    height: 7rem;
}

#detail {
    grid-area: detail;
    justify-self: left;
    width: 30rem;
    font-size: 1.1rem;
}

#detail h1, #detail h2, #detail h4{
    margin-bottom: 1rem;
    margin-right: 0.5rem;
}

#detail h2, #detail h4{
    display: inline-block;
}

#change {
    grid-area: change;
}

#change button {
    background-color: hsl(334, 56%, 75%);
    height: 2.5rem;
    width: 13rem;
    border-radius: 2rem;
    border: 0.1rem solid black;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-right: 2rem;
}