main {
    display: grid;
    grid-template-columns: 1fr 7fr 7fr;
    grid-gap: 2rem;
    padding-top: 3rem;
}

#back {
    padding-top: 2rem;
}

#back > * {
    color: black;
}

#pictures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin-bottom: auto;
}

#main-pic {
    grid-column: span 4;
}

#pictures img {
    width: 100%;
    aspect-ratio: 1;
}

.upload-images {
    grid-column: span 4;
    justify-self: center;
}

#detail {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.gap-needed {
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#saves {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#detail input {
    border-radius: 1rem;
    border: 0.1rem solid;
    padding: 0.25rem 0.75rem;
}

#detail textarea{
    border-radius: 1rem;
    border: 0.1rem solid;
    padding: 0.25rem 0.75rem;
    overflow-y: scroll;
    resize: none;
    height: 10rem;
}

#p-name {
    font-size: 1.2rem;
}

#parameters {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#detail select {
    font-size: 1.1rem;
    background-color: hsl(334, 56%, 95%);
    border-radius: 2rem;
    border: 0.1rem solid black;
    padding: 0.25rem 0.5rem;
}

#detail button {
    background-color: hsl(334, 56%, 75%);
    border-radius: 2rem;
    border: 0.1rem solid black;
    font-size: 1.2rem;
    padding: 0.5rem;
}

#detail button:active {
    background-color: mistyrose;
}

#saves button {
    padding: 0.25rem 0.5rem;
}

@media (max-width: 992px) {
    #detail {
        font-size: 0.9rem;
        gap: 0.5rem;
    }

    #detail button {
        font-size: 1rem;
    }

    #detail select {
        font-size: 0.9rem;
    }
}

@media (max-width: 768px){
    main {
        display: flex;
        flex-direction: column;
        padding-top: 0;
        grid-gap: 1rem;
    }

    #back {
        font-size: 0.5rem;
    }

    #parameters {
        align-items: center;
    }
}

@media (max-width: 425px){
    #detail {
        font-size: 0.8rem;
        gap: 0.5rem;
    }

    #detail button {
        font-size: 0.9rem;
    }

    #detail select {
        font-size: 0.8rem;
    }

    .gap-needed {
        width: 16rem;
    }
}