main {
    max-width: 1024px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    padding: 2rem 2rem;
}

main input, main textarea {
    width: 100%;
    border-radius: 1rem;
    border: 0.1rem solid;
    padding-left: 0.75rem;
}

main input {
    height: 2rem;
}

main textarea {
    height: 15rem;
    resize: none;
    padding-top: 0.5rem;
}

main button {
    background-color: hsl(334, 56%, 75%);
    height: 2.5rem;
    width: 10.5rem;
    border-radius: 2rem;
    border: 0.1rem solid black;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    justify-self: center;
}

main button:active {
    background-color: mistyrose;
}

.error {
    opacity: 0.5;
    font-size: 0.8rem;
    color: red;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.6rem;
}

#success {
    border-radius: 2rem;
    border: 0.1rem solid;
    background-color: hsl(334, 56%, 90%);
    padding: 0.5rem 1rem;
    opacity: 0.5;
    justify-self: center;
}