@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
    --background-color: hsl(334, 56%, 55%);
}

#small {
    display: none;
}

#big {
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1rem;
}

.header-item {
    margin: 0 1rem;
}

#header-input {
    border-radius: 2rem;
    padding-left: 1rem;
    margin-left: auto;
    height: 2.5rem;
    width: 17.5rem;
    border: 0.125rem solid black;
}

#header-profile{
    flex-direction: column;
    display: flex;
    font-size: 1.1rem;
}

header button {
    border: none;
    background-color: var(--background-color);
    text-decoration: underline;
    padding: 0.2rem;
}

#name {
    font-family: 'Lobster', cursive;
    font-size: 2.75rem;
    text-decoration: none;
}

header a, footer a {
    color: black;
}

#vertical-line {
    border-left: 0.15rem solid black;
    height: 3rem;
}

#produkty {
    text-decoration: none;
    font-size: 2.25rem;
    font-family: 'Lobster', sans-serif;
}

footer {
    background-color: var(--background-color);
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    align-items: center;
    font-size: 0.90rem;
}

.footer-item {
    padding: 0.5rem;
}

@media (max-width: 425px) {
    #big {
        display: none;
    }
    #small {
        visibility: visible;
        background-color: var(--background-color);
        display: flex;
        align-items: center;
        padding: 0.5rem;
        margin-bottom: 1rem;
    }

    #name {
        font-size: 1.5rem;
    }

    #header-input {
        width: 7.5rem;
        height: 1.5rem;
        padding-left: 0.5rem;
    }

    #checkbutton {
        font-size: 1.5rem;
    }

    footer {
        grid-template-columns: 1fr;
        font-size: 75%;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    #big {
        display: none;
    }

    #small {
        visibility: visible;
        background-color: var(--background-color);
        display: flex;
        align-items: center;
        padding: 0.75rem;
        margin-bottom: 1rem;
    }

    #name {
        font-size: 1.75rem;
    }

    #header-input {
        width: 10rem;
        height: 1.75rem;
        padding-left: 0.7rem;
    }

    #checkbutton {
        font-size: 1.75rem;
    }

    footer {
        grid-template-columns: 1fr 1fr;
        font-size: 75%;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .header-item {
        margin: 0 0.5rem;
    }

    #name {
        font-size: 2rem;
    }

    #produkty {
        font-size: 1.6rem;
    }

    #header-input {
        width: 12.5rem;
        height: 2rem;
        padding-left: 0.9rem;
    }

    #header-profile {
        font-size: 0.8rem;
    }

    .footer-item {
        padding: 0.5rem 0.1rem;
    }

    footer {
        font-size: 75%;
    }
}