

.welcome-text {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    text-align: center;
}

.welcome-text > * {
    padding: 5px;
}

.categories {
    display: flex;
    padding-top: 20px;
    padding-bottom: 50px;
}

.product-category {
    flex: 30%;
    padding: 10px;
    position: relative;
}

.product-category > img {
    width: 100%;
    height: auto;
    filter: brightness(90%);
}

.product-category > a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: var(--background-color);
    color: black;
    font-size: 2em;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    text-decoration: none;
}

a:link, a:visited {
    background-color: var(--background-color);
}

a:focus, a:hover {
    color: var(--background-color);
    background-color: black;
}

a:active {
    background-color: white;
}

@media (min-width: 426px) and (max-width: 768px) {
    .welcome-text > h1 {
        font-size: 4rem;
    }

    .welcome-text > p {
        font-size: 2rem;
    }


    .product-category > a {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: var(--background-color);
        color: black;
        font-size: 4rem;
        padding: 12px 24px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        width: 200px;
        text-align: center;
        text-decoration: none;
    }

}

@media (min-width: 769px) and (max-width: 992px) {

    .welcome-text > h1 {
        font-size: 2.5rem;
    }

    .welcome-text > p {
        font-size: 1.25rem;
    }

    .product-category > a {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: var(--background-color);
        color: black;
        font-size: 2.5rem;
        padding: 12px 24px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        width: 200px;
        text-align: center;
        text-decoration: none;
    }

}