section {
    padding-bottom: 2rem;
    margin: 0 2rem;
}

section > * {
    padding: 0.5rem 0;
}

section > h1 {
    text-align: center;
    font-size: 2em;
}

.input-item {
    font-size: 1.75rem;
}

.input-item input {
    height: 2.5rem;
    padding-left: 1rem;
    width: 100%;
    border-radius: 1rem;
    border: 0.1rem solid;
}

#agree {
    display: flex;
    gap: 1rem;
    font-size: 1rem;
}

main button {
    background-color: hsl(334, 56%, 75%);
    border-radius: 2rem;
    border: 0.1rem solid black;
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
    margin-top: 2rem;
}

main button:active {
    background-color: mistyrose;
}

#center {
    text-align: center;
}

#center > p {
    font-size: 1.5rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

@media (max-width: 992px) {
    #center > p {
        font-size: 1.25rem;
    }
}

@media (max-width: 768px) {
    #center > p {
        font-size: 1.1rem;
    }

    section > h1 {
        font-size: 1.5em;
    }

    .input-item {
        font-size: 1.5rem;
    }

    main button {
        font-size: 1.25rem;
        padding: 0.3rem 1.25rem;
    }
}

@media (max-width: 425px) {
    #center > p {
        font-size: 0.9rem;
    }

    section > h1 {
        font-size: 1.25em;
    }

    .input-item {
        font-size: 1.25rem;
    }

    main button {
        font-size: 1.1rem;
        padding: 0.3rem 1.25rem;
    }

    section {
        margin: 0;
    }

}