main {
    display: grid;
    grid-template-columns: 1fr 7fr 7fr;
    grid-gap: 1rem;
    padding-top: 3rem;
}

#back {
    padding-top: 2rem;
}

#back > * {
    color: black;
}

#pictures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin-bottom: auto;
}

#main-pic {
    grid-column: span 4;
}

#pictures img {
    width: 100%;
    aspect-ratio: 1;
}

#detail {
    display: flex;
    flex-direction: column;
}