main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "filters main-content";
}

.filters {
    grid-area: filters;
    display: flex;
    flex-direction: column;
}

.price-input {
    width: 3rem;
    border-radius: 0.25rem;
    border: 0.1rem solid;
    padding-left: 0.25rem;
}

.main-content {
    grid-area: main-content;
}

.filter-group {
    margin-bottom: 0.5rem;
}

.filter-name {
    margin-bottom: 0.3rem;
}

.filters input, .filters label {
    margin-bottom: 0.2rem;
}

#sorting {
    display: flex;
    justify-content: end;
    gap: 1rem;
}

.paging {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0; 
}

.number-of-items {
    display: flex;
    gap: 1rem;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    padding: 0.25rem 0.5rem;
    text-decoration: none;
}

.pagination a.active {
    background-color: hsl(334, 56%, 55%);
    color: white;
}
  
.pagination a:hover:not(.active) {
    background-color: hsl(334, 56%, 99%);
}

#products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    grid-gap: 0.5rem;
}

.product {
    display: flex;
    flex-direction: column;
}

.product img {
    width: 100%;
    height: 100%;
}

@media (max-width: 992px) {
    #products {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px){
    main {
        padding: 1.5rem 1.5rem;
        grid-template-areas:
        "filters filters"
        "main-content main-content"
        ;
        font-size: 0.8rem;
    }

    .filters {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #f-name {
        grid-column: 1 / 3;
    }

    #color {
        grid-column: 2 / 3;
        grid-row: 2 / 4;
    }

    #price {
        grid-column: 1 / 3;
    }

    #sorting {
        justify-content: center;
    }

    #products {
        grid-template-columns: 1fr 1fr;
    }

    .paging {
        flex-direction: column;
        align-items: center;
    }

    .pagination {
        margin-top: 0.5rem;
    }
}

@media (max-width: 425px) {
    #products {
        grid-template-columns: 1fr;
    }
}