main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "back product";
}

#back {
    grid-area: back;
    padding-top: 6rem;
    padding-left: 7rem;
}

#product {
    grid-area: product;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "pictures detail";
    padding-top: 4rem;
}

#pictures{
    grid-area: pictures;
}

#pictures #main {
    width: 30rem;
    height: 36rem;
}

#pictures .additional {
    width: 7.5rem;
    height: 9rem;
}

#detail {
    grid-area: detail;
}