main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "navigation main-content";
}

nav {
    grid-area: navigation;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-left: 5rem;
}

.navigation-item {
    margin: 0.5rem;
    border: 0.3rem solid black;
    border-radius: 2rem;
    padding: 0.5rem;
    width: 12rem;
    border-color: hsl(334, 56%, 90%);
    text-decoration: none;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

#navigation-item-selected {
    border-color: hsl(334, 56%, 75%);
}

.main-content {
    grid-area: main-content;
    padding-top: 1rem;
}

.main-item {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.main-content input {
    height: 2.5rem;
    padding-left: 0.5rem;
    width: 70%;
    border-radius: 1rem;
    border: 0.1rem solid;
}

main button {
    background-color: hsl(334, 56%, 75%);
    height: 2.5rem;
    width: 7rem;
    border-radius: 2rem;
    border: 0.1rem solid black;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

main button:active {
    background-color: mistyrose;
}