section {
    padding-bottom: 2rem;
    margin: 0 2rem;
}

section > * {
    padding: 1.5rem 0;
}

section > h1 {
    text-align: center;
    font-size: 2rem;
}

.input-item {
    font-size: 1.75rem;
}

.input-item input {
    height: 2.5rem;
    padding-left: 1rem;
    width: 100%;
    border-radius: 1rem;
    border: 0.1rem solid;
    padding-bottom: 0;
}

main button {
    background-color: hsl(334, 56%, 75%);
    border-radius: 2rem;
    border: 0.1rem solid black;
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
}

main button:active {
    background-color: mistyrose;
}

.center {
    text-align: center;
}

#error {
    padding: 0;
    font-size: 1.5rem;
    color: red;
    opacity: 0.5;
}

#info {
    font-size: 1.5rem;
}






@media (max-width: 992px) {

    section > h1 {
        font-size: 1.5rem;
    }

    #error, #info {
        font-size: 1.2rem;
    }

}

@media (max-width: 768px) {
    section {
        margin: 0;
    }

    section > h1 {
        font-size: 1.5em;
    }

    .input-item {
        font-size: 1.5rem;
    }

    main button {
        font-size: 1.25rem;
        padding: 0.3rem 1.25rem;
    }
}

@media (max-width: 425px) {
    
    section > h1 {
        font-size: 1.25em;
    }

    .input-item {
        font-size: 1.25rem;
    }

    main button {
        font-size: 1.1rem;
        padding: 0.3rem 1.25rem;
    }

    #error, #info {
        font-size: 1rem;
    }

}