.text-block {
    text-align: center;
    font-size: 1.4em;
}

.text-block > * {
    padding: 5px;
}


.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}

.flex-item {
    font-size: 1.65rem;
    margin-bottom: 1rem;
}

.flex-item > p[class] {
    text-align: center;
}

.flex-item input {
    height: 2.5rem;
    padding-left: 0.5rem;
    width: 50rem;
    border-radius: 1rem;
    border: 0.1rem solid;
}

.flex-container button:active {
    background-color: mistyrose;
}

p.price {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: initial;
}

p.price:last-of-type {
    font-size: 2rem;
    font-weight: bolder;
}

.flex-container button {
    background-color: hsl(334, 56%, 75%);
    height: 2.5rem;
    width: 12rem;
    border-radius: 2rem;
    border: 0.1rem solid black;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.products {
    margin-left: 20%;
    margin-right: 20%;
}

.product {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.product img {
    padding-top: 10px;
    align-items: flex-end;
    padding-right: 10px;
    max-width: 2em;
}

.product a {
    color: black;
    font-weight: bolder;
    text-decoration: none;
    padding-right: 20px;
    font-size: 1.2em;
}

.product p {
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.2em;
}

.product button {
    height: 1.5em;
    width: 1.5em;
    margin: 5px;
    border-color: black;
    background-color: hsl(334, 56%, 75%);
    font-size: 1.2em;
}

.product>p.price {
    width:20%;
    font-weight: initial;
    font-size: inherit;
    text-align: right;
}

button.cancel {
    border-color: black;
    background-color: white;
    width: 1.25em;
    height: 1.25em;
}

.product input {
    height: 2em;
    width: 2em;
    margin: 1%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
  }

@media (max-width: 992px) {

    .text-block > * {
        font-size: 1.5rem;
    }

    .product {
        width: 100%;
        justify-content: space-evenly;
    }

    .product a {
        font-size: 1rem;
    }

    .product p{
        font-size: 1rem;
    }

    .product>p.price {
        font-size: 1rem;
    }

    .products {
        margin-left: 10%;
        margin-right: 10%;
    }

}

@media (max-width: 768px) {

    main img {
        display: none;
    }
    .flex-item input {
        width: 20rem;
    }
    .text-block > * {
        font-size: 2rem;
    }
    .products {
        margin-left: 5%;
        margin-right: 5%;
    }
    .product {
        width: 100%;
        justify-content: space-evenly;
    }

    .product a {
        font-size: 0.8rem;
    }

    .product p{
        font-size: 0.8rem;
    }

    .product>p.price {
        font-size: 0.8rem;
    }

}


@media (max-width: 425px) {

    .text-block > * {
        font-size: 1.5rem;
    }

    .products {
        margin-left: 0;
        margin-right: 0;
    }
    .product {
        width: 100%;
        justify-content: space-evenly;
    }

    .product a {
        font-size: 0.5rem;
    }

    .product p{
        font-size: 0.5rem;
    }

    .product>p.price {
        font-size: 0.5rem;
    }

}