main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p.price {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: initial;
}

p.price:last-of-type {
    padding-left: 1rem;
    font-size: 2rem;
    font-weight: bolder;
}

.continue{
    background-color: hsl(334, 56%, 75%);
    border-radius: 2rem;
    border: 0.1rem solid black;
    font-size: 1.5rem;
    padding: 0.25rem 3rem;
}

.continue:active {
    background-color: mistyrose;
}

#products {
    width: 100%;
}

.first-row, .second-row {
    display: flex;
    align-items: center;
}

.product {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.first-row {
    justify-self: left;
}

.product img {
    padding-top: 10px;
    align-items: flex-end;
    padding-right: 10px;
    max-width: 3.5rem;
}

.product a {
    color: black;
    font-weight: bolder;
    text-decoration: none;
    padding-right: 20px;
    font-size: 1.2em;
}

.product p {
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.2em;
}

.product button {
    height: 1.5em;
    width: 1.5em;
    margin: 5px;
    border-color: black;
    background-color: hsl(334, 56%, 75%);
    font-size: 1.2em;
}

.product p.price {
    font-weight: initial;
    font-size: inherit;
    text-align: right;
}

button.cancel {
    border-color: black;
    background-color: white;
    width: 1.25em;
    height: 1.25em;
}

.product input {
    height: 2em;
    width: 2em;
    margin: 1%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

@media (max-width: 768px) {

    main img {
        display: none;
    }

    main > h1 {
        font-size: 1.5rem;
    }

    .continue{
        font-size: 1.25rem;
        padding: 0.25rem 1.5rem;
    }

    #products > * {
        font-size: 0.8rem;
    }

    .product a {
        padding: 0;
    }
    
}


@media (max-width: 500px) {

    .product {
        flex-direction: column;
    }

    .first-row {
        justify-content: space-between;
    }

    p.price {
        font-size: 1rem;
    }

}